---
import SignLayout from "../layouts/SignLayout.astro";
---

<SignLayout>
    <div class="container">
        <div class="form-box">
            <h2>Нууц үг сэргээх</h2>
            <p>Имэйл хаягаа оруулна уу</p>
            <form action="/forgot-password" method="POST">
                <div class="form-group">
                    <label>Имэйл</label>
                    <input
                        type="email"
                        name="email"
                        placeholder="example@gmail.com"
                        required
                    />
                </div>
                <button type="submit">Холбоосыг илгээх</button>
            </form>
            <div class="extra">
                ← <a href="/login">Буцах</a>
            </div>
        </div>
        <div class="side-box">CANEY SCRIPT</div>
    </div>
</SignLayout>
