---
import "../styles/sign.css";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link
            href="https://cdn.boxicons.com/fonts/basic/boxicons.min.css"
            rel="stylesheet"
        />
        <script is:inline>
            const color = localStorage.getItem("theme");
            if (color === "dark") {
                document.documentElement.classList.add("dark");
            }
        </script>
        <title>{Astro.props.title}</title>
    </head>

    <body>
        <a href="/" class="back-arrow"
            ><i class="bxr bx-arrow-from-right-stroke"></i>
        </a>
        <main>
            <slot />
        </main>
    </body>
</html>
